<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Redhat MyConsult</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/amsify.select.css"/>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="js/jquery.amsifyselect.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    
    <style>
        .card-img-top{
            margin-top: 10px;
            margin-left: 5px;
        }
        hr {
            width: 90%;
        }
        .card-header {
          padding: .2rem 1.25rem;
        }
        span.header{
          cursor: pointer;
        }
        .fixedHeight{
          height: 100px;overflow-y: scroll;max-height:50px;  
        } 
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }  
    </style>
    <script type="text/javascript">
        var mymap;
        var circle;
        var layerGroup;
        var latitude=25.1973 , longitude=55.2793, raduis=100; //KM
        var origin;
        var originLayerGroup;

        function newCase(physician){
          window.location = 'case?id=' + physician;
        }

        $.when( $.ready ).then(function() {
          mymap = L.map('myMap').setView([latitude, longitude], 8);
          //L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoid2FlbGVsZG9hbWlyeSIsImEiOiJja2J0OWpmdTYwN3QxMnJvMHNnMzlucnRsIn0.YW_GzkfI16jR_bWwT9NhcQ', {
            L.tileLayer('https://api.mapbox.com/styles/v1/\{id\}/tiles/\{z\}/\{x\}/\{y\}?access_token=pk.eyJ1Ijoid2FlbGVsZG9hbWlyeSIsImEiOiJja2J0OWpmdTYwN3QxMnJvMHNnMzlucnRsIn0.YW_GzkfI16jR_bWwT9NhcQ', {
              attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
              maxZoom: 18,
              id: 'mapbox/streets-v11',
              tileSize: 512,
              zoomOffset: -1,
              accessToken: 'your.mapbox.access.token'
          }).addTo(mymap);
          layerGroup = L.layerGroup().addTo(mymap);
          originLayerGroup = L.layerGroup().addTo(mymap);
          circle = L.circle([latitude, longitude], {
              color: 'red',
              fillColor: '#f03',
              fillOpacity: 0.1,
              radius: raduis*1000 // KM to M
          }).addTo(mymap);
          //slider
          $( "#slider-vertical" ).slider({
            orientation: "vertical",
            range: "min",
            min: 0,
            max: 150,
            value: raduis,
            slide: function( event, ui ) {
              $( "#amount" ).val( ui.value );
              raduis = ui.value;
              circle.setRadius(raduis*1000);
            }
          });
          $( "#amount" ).val( $( "#slider-vertical" ).slider( "value" ) );

          mymap.on('click', function(ev) {
              //alert(ev.latlng); // ev is an event object (MouseEvent in this case)
              latitude = ev.latlng.lat;
              longitude = ev.latlng.lng;
              originLayerGroup.clearLayers();
              circle.remove();
              L.marker(ev.latlng).addTo(originLayerGroup)
                    .bindPopup("Origin")
                    .openPopup();
              circle = L.circle(ev.latlng, {
                  color: 'red',
                  fillColor: '#f03',
                  fillOpacity: 0.1,
                  radius: raduis*1000 // KM to M
              }).addTo(mymap);
          });



        });
        
        var app = angular.module("PhysicianManagement", []);
        app.controller("PhysicianManagementController", function ($scope, $http) {
          $scope.stripString = function(myString,myLength) {
              return myString.substring(0,myLength);
          }
          $scope.physicians = [];
          //_refreshPageData(latitude,longitude,["Oncology"]);

          function _refreshPageData(latitude,longitude,speciality) {
            var method = "";
            var url = "";
            var data = {};
            method = "POST";
            url = '{composite}/profile/nearBy/' + raduis;
            data.speciality = speciality;
            data.latitude = latitude;
            data.longitude =longitude;
            $http({
              method: method,
              url: url,
              data: angular.toJson(data),
              headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin' : '*'
              }
            }).then(function successCallback(response) {
              _success(response);
            }, function errorCallback(response) {
              console.log(response.statusText);
            });
          }  
          function _success(response) {
            $scope.physicians = response.data;
            for(var index in $scope.physicians){
              var physician = $scope.physicians[index];
              if(physician.address){
                var popupContent = $("#physiciantemplate").html();
                popupContent = popupContent.replace(/physician.id/g,physician.id);
                popupContent= popupContent.replace(/physician.name/g,physician.name);
                popupContent= popupContent.replace(/physician.speciality/g,physician.speciality);
                popupContent= popupContent.replace(/physician.qualifications/g,physician.qualifications);                
                L.marker(physician.address.location.coordinates).addTo(layerGroup)
                    .bindPopup(popupContent)
                    .openPopup();
              }
            }
          }
          $scope.search = function (){
            layerGroup.clearLayers();
            _refreshPageData(latitude,longitude,$("#speciality").val());
          }
        });
      </script>
</head>
<body ng-app="PhysicianManagement" ng-controller="PhysicianManagementController">

    <header>       
        <div class="navbar box-shadow">
          <div class="container">
                <img src="redhat.png"/> 
                <h3>MyConsult - Medical Second Opinion</h3>
          </div>
        </div>
      </header>
  
      <main role="main">

        <section class="jumbotron text-center">
          <div class="container clearfix">
              <ul class="nav nav-pills float-left">
                <li class="nav-item">
                  <a class="nav-link" href="home">Directory</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">NearBy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="case">New Case</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="cases">My Cases</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="knowledge.html">Knowedge</a>
                </li>
              </ul>  
              <span class="btn btn-success float-right">
                {username}
              </span>
          </div>
        </section>
  
        
          <div class="container">


            <div class="alert alert-primary row" role="alert">
                <div class="col-md-2">
                    Phsician Directory
                </div>
                <div class="col-md-8">
                <select style="z-index: 10000;" name="speciality" id="speciality" class="form-control" multiple searchable>
                  <option>Addiction Medicine</option>
                  <option>Allergy</option>
                  <option>Anesthesiology</option>
                  <option>Breast Surgery</option>
                  <option>Cardiothoracic Surgery</option>
                  <option>Cardiology</option>
                  <option>Cosmetology</option>
                  <option>Cosmetic Surgery</option>
                  <option>Critical Care</option>
                  <option>Dentistry</option>
                  <option>Dentistry &amp; Maxillofacial Surgery</option>
                  <option>Dermatology (Skin)</option>
                  <option>Diabetology</option>
                  <option>Emergency Medicine</option>
                  <option>Endocrinology</option>
                  <option>ENT (Otolaryngology)</option>
                  <option>ENT and Head &amp; Neck Surgery</option>
                  <option>Fetal Medicine</option>
                  <option>Gastroenterology</option>
                  <option>General Medicine</option>
                  <option>General Surgery</option>
                  <option>Gynecology</option>
                  <option>Hematology</option>
                  <option>Hepatobiliary Surgery</option>
                  <option>Hepatology</option>
                  <option>Infectious Diseases</option>
                  <option>Internal Medicine</option>
                  <option>Interventional Radiology</option>
                  <option>Laparoscopic Surgery</option>
                  <option>Liver Transplant &amp; Hepatobiliary Surgery</option>
                  <option>Maxillofacial Surgery</option>
                  <option>Medical Oncology</option>
                  <option>Neonatology</option>
                  <option>Nephrology</option>
                  <option>Neurology</option>
                  <option>Neurosurgery</option>
                  <option>Obstetrics and Gynecology</option>
                  <option>Oncology</option>
                  <option>Ophthalmology</option>
                  <option>Orthodontics</option>
                  <option>Orthopedics &amp; Traumatology</option>
                  <option>Pathology</option>
                  <option>Pain Management</option>
                  <option>Pediatric Cardiothoracic Surgery</option>
                  <option>Pediatric Critical Care</option>
                  <option>Pediatric Dentistry</option>
                  <option>Pediatric Endocrinology</option>
                  <option>Pediatric Hematology &amp; Oncology</option>
                  <option>Pediatric ENT</option>
                  <option>Pediatric Nephrology</option>
                  <option>Pediatric Neurology</option>
                  <option>Pediatric Surgery</option>
                  <option>Pediatrics</option>
                  <option>Plastic Surgery</option>
                  <option>Plastic Surgery &amp; Cosmetic Surgery</option>
                  <option>Psychiatry</option>
                  <option>Pulmonology</option>
                  <option>Radiation Oncology</option>
                  <option>Radio-Diagnosis</option>
                  <option>Radiology</option>
                  <option>Rheumatology</option>
                  <option>Sleep Medicine</option>
                  <option>Spine Surgery</option>
                  <option>Surgical Gastroenterology</option>
                  <option>Surgical Oncology</option>
                  <option>Urology</option>
                  <option>Vascular Surgery</option>
                  <option>Andrology</option>
                  <option>Neuropsychology</option>
                  <option>Cardiovascular Surgery</option>
                  <option>Gastro Surgery</option>
                  <option>Interventional Cardiology</option>
                  <option>Interventional Neuroradiology</option>
                  <option>Robotic Surgery</option>
                  <option>Orthopedics</option>
                  <option>Bariatric Surgery</option>
                  <option>Liver Transplant</option>
                  <option>Kidney Transplantation</option>
                  <option>Radiology &amp; Imageology</option>
                  <option>Neuro Psychiatry</option>
                  <option>Pediatric Dermatology</option>
                  <option>Venereology</option>
                  <option>Trichology</option>
                  <option>Orthopedic Surgery</option>
                  <option>Psychology</option>
                  <option>Pediatric Orthopedics</option>
                  <option>Knee Surgery</option>
                  <option>Hip Replacement Surgery</option>
                  <option>Traumatology</option>
                  <option>Hemato Oncology</option>
                  <option>Joint Replacement Surgery</option>
                  <option>Tummy Tuck Surgery</option>
                  <option>Spine and Joint Replacement</option>
                  <option>Trauma Surgery</option>
                  <option>Addiction Psychiatry</option>
                  <option>Adolescent Psychiatry</option>
                  <option>Child Psychiatry</option>
                  <option>Geriatric Psychiatry</option>
                  <option>Adult Psychiatry</option>
                  <option>Neonatal Surgery</option>
                  <option>Pediatric Pulmonology</option>
                  <option>EndoUrology</option>
                  <option>Renal Transplant</option>
                  <option>Cosmetic Dermatology</option>
                  <option>General &amp; Laparoscopic Surgery</option>
                  <option>Pediatric Cardiac Surgery</option>
                  <option>Gynae Oncology</option>
                  <option>Gastrointestinal Surgery</option>
                  <option>Preventive Oncology</option>
                  <option>UroSurgery</option>
                  <option>Electrophysiology</option>
                  <option>Pediatric Oncology</option>
                  <option>IVF &amp; Infertility</option>
                  <option>Pediatric Neuro Rehabilitation</option>
                  <option>Uro &amp; Gynaec Oncology</option>
                  <option>Cancer Chemotherapy</option>
                  <option>Cancer Radiation Therapy</option>
                  <option>Neuro Oncology</option>
                  <option>Orthopedic Oncology</option>
                  <option>HIV Medicine</option>
                </select>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-info" id="search" ng-click="search()">Search</button>
                </div>

            </div>
            <div class="row">

              
              <div class="container col-md-10">
                <div id="myMap" style="width: 100%; height: 480px;"></div>
              </div>
              <div class="col-md-2">
                <p>
                  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="slider-vertical" style="height:250px;"></div>
              </div>

            <div id="physiciantemplate" style="display: none;">
              <div class="card">
                <img src="img/physician.id.jpg"  class="center w-75 rounded-circle card-img-top shadow-sm bg-white rounded" alt="..." >
                <div class="card-body" style="padding-top:0em">
                  <h5 class="card-title text-capitalize">physician.name</h5>
                  <p class="small">
                    <smal>physician.qualifications</smal> <br/>
                    <smal>physician.speciality</smal>
                </p>
                <button class="btn btn-info btn-sm" onclick="newCase('physician.id')">new case</button>
                </div>
              </div>        
            </div>  
                        
            </div>
          </div>
      </main>
  
      <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <a href="#">Back to top</a>
          </p>
          <p> RedHat MyConsult Portal </p>
        </div>
      </footer>


    <script type="text/javascript">
        $('select').amsifySelect({
            type : 'amsify'
        });
    </script>
</body>
</html>
